services:

  spark-master:
    image: apache/spark:latest
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      SPARK_MODE: master
      SPARK_MASTER_HOST: spark-master
    ports:
      - 8080:8080   # Web UI
      - 7077:7077   # Spark master port
    networks:
      - bigdata_net

  spark-worker:
    image: apache/spark:latest
    container_name: spark-worker
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
    ports:
      - 8081:8081   # Worker UI
    networks:
      - bigdata_net

  jupyter:
    build: .
    command: jupyter lab --ip=0.0.0.0 --no-browser --allow-root --NotebookApp.token=''
    ports:
      - 8888:8888
    volumes:
      - ./app:/app
    depends_on:
      - spark-master
    environment:
      JUPYTER_TOKEN: ""
      JUPYTER_ENABLE_LAB: "yes"
    networks:
      - bigdata_net

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: bober
      POSTGRES_PASSWORD: bober
      POSTGRES_DB: bober_db
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./data:/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - bigdata_net

  clickhouse:
    image: clickhouse/clickhouse-server:24.1
    ports:
      - 8123:8123
      - 9000:9000
    volumes:
      - ch_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - bigdata_net

  # Опционально: Cassandra
  # cassandra:
  #   image: cassandra:5.0
  #   ports:
  #     - 9042:9042
  #   volumes:
  #     - cass_data:/var/lib/cassandra
  #   networks:
  #     - bigdata_net

  # Опционально: Neo4j
  # neo4j:
  #   image: neo4j:5.24
  #   ports:
  #     - 7474:7474
  #     - 7687:7687
  #   environment:
  #     NEO4J_AUTH: neo4j/password
  #   volumes:
  #     - neo_data:/data
  #   networks:
  #     - bigdata_net

  # Опционально: MongoDB
  # mongo:
  #   image: mongo:8.0
  #   ports:
  #     - 27017:27017
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: password
  #   volumes:
  #     - mongo_data:/data/db
  #   networks:
  #     - bigdata_net

  # Опционально: Valkey
  # valkey:
  #   image: valkey/valkey:7.2
  #   ports:
  #     - 6379:6379
  #   volumes:
  #     - valkey_data:/data
  #   networks:
  #     - bigdata_net

volumes:
  pg_data:
  ch_data:
  # cass_data:
  # neo_data:
  # mongo_data:
  # valkey_data:

networks:
  bigdata_net:
    driver: bridge